@font-face {
    font-family:'Impact', sans-serif ;
    src: url(../impact.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1220;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
   color: #040404; 
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
}

.header{
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
}

.menu-left{
    padding-left: 25px;
}

.menu-right{
    padding-right: 25px;
}

.menu-link{
    color: #363636;
    font-size: 16px;
}

.promo{
   background-image: url(../images/Promo.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.promo__inner{
    min-height: 100vh;
}

.title{

}

