html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1220;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
   color: #040404; 
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
}

.header{
    padding-top: 25px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
}

.menu-link{
    color: #363636;
    font-size: 16px;
}

.promo{
   background-image: url(../images/Promo.jpg); 
}

.promo__inner{
    min-height: 100vh;
}

